<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/images/eu.jpg" />
      <ion-card-header>
        <ion-card-title>Walmir Machado da Silva Júnior </ion-card-title>
        <ion-card-subtitle>Turma: ADS0301M</ion-card-subtitle>
        <ion-card-subtitle>Matrícula: 23202338</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        https://github.com/WalmirJunior
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
